.jumbotron {
  padding-top: 8rem;
  background-color: #e2edff;
}
.projects {
  background-color: #e2edff;
}

.contact {
  padding: 2rem 1rem;
}

.telegram {
  background-color: #e0cfb1;
}
.facebook {
  background-color: #3b5998;
}
.linkedin {
  background-color: #0e76a8;
}
.whatsapp {
  background-color: #128c7e;
}
